[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-swagger-ui = "*"
flask-uploads = "*"
celery = "*"
mysqlclient = "*"
flask-mail = "*"
python-dotenv = "*"
gunicorn = "*"
bcrypt = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.12"
